@charset "UTF-8";
/*Variables*/
/*tamaño de fuentes*/
/*Colores de la pagina*/
/*Fuentes*/
/*Color de fuente*/
/*variables sombras*/
/*Gadiente*/
/*reset*/
* {
  margin: o;
  padding: 0;
  box-sizing: border-box; }

/*Variables*/
/*tamaño de fuentes*/
/*Colores de la pagina*/
/*Fuentes*/
/*Color de fuente*/
/*variables sombras*/
/*Gadiente*/
/*Estilos Generales*/
html {
  font-size: 62.5%;
  /*tamaño de fuente 1rem=10px*/ }

body {
  text-align: center; }

.separador {
  width: 50%;
  height: 1rem;
  background-color: fuchsia;
  margin: 2rem 0rem; }

/*Variables*/
/*tamaño de fuentes*/
/*Colores de la pagina*/
/*Fuentes*/
/*Color de fuente*/
/*variables sombras*/
/*Gadiente*/
/*Variables*/
/*tamaño de fuentes*/
/*Colores de la pagina*/
/*Fuentes*/
/*Color de fuente*/
/*variables sombras*/
/*Gadiente*/
/*Estilos del Header*/
.header {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  background-color: #5a5454e3;
  align-items: center; }
  .header__logo {
    grid-area: 1/1/2/2; }
    .header__logo img {
      width: 85px;
      height: auto;
      border-radius: 0px; }
  .header__nombre h1 {
    color: #c30808;
    font-family: "Aclonica", sans-serif;
    font-size: 7rem;
    font-style: normal;
    text-shadow: 3px 0px 0px #090808, 11px -4px 19px #06dbee; }
  .header__nombre h2 {
    color: #ffffff;
    font-family: "Euphoria Script", cursive;
    font-size: 6rem;
    font-style: italic;
    margin-top: -20px;
    line-height: 0.8rem;
    text-shadow: -3px 0px 0px #191010; }
  .header__user {
    display: flex;
    justify-content: space-around; }
    .header__user img {
      width: 70px;
      height: auto;
      border-radius: 0px; }
    .header__user__btn {
      border: none;
      background: none; }
    .header__user__btn-primario {
      color: #00ebff;
      font-family: "Euphoria Script", cursive;
      font-size: 2rem;
      font-style: italic;
      background-color: #5a5454e3;
      border-radius: 20px; }
      .header__user__btn-primario:hover {
        background-color: #00ebff;
        color: #5a5454e3; }
  .header__nav {
    grid-area: 2/1/3/4;
    background-color: black;
    color: white;
    border-radius: 100px 0px 100px 0px;
    align-items: center; }
    .header__nav__li {
      margin: 0px 20px; }
    .header__nav__a {
      color: #ffffff;
      font-family: "Righteous", cursive;
      font-size: 2rem;
      font-style: normal; }
      .header__nav__a:hover {
        color: #ffffff;
        font-family: "Euphoria Script", cursive;
        font-size: 6rem;
        font-style: italic;
        margin-top: -15px;
        line-height: 0.8rem;
        text-shadow: -3px 0px 0px #191010;
        color: #00ebff;
        transition: all 1s; }
    .header__nav__a--active, .header__nav__a--active:hover {
      color: #ffffff;
      font-family: "Euphoria Script", cursive;
      font-size: 6rem;
      font-style: italic;
      margin: -30px;
      text-shadow: -3px 0px 0px #191010;
      color: #00ebff; }
    .header__nav__icono {
      background-color: #00ebff; }

/*Estilos Main*/
.main {
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  padding-bottom: 10px; }
  .main h3 {
    color: #000000;
    font-family: #000000;
    font-size: 4rem;
    font-style: italic; }
  .main p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: normal; }
  .main h4 {
    color: black;
    font-family: "Righteous", cursive;
    font-size: 2.5rem;
    font-style: normal;
    text-decoration: underline; }
  .main__presentacion {
    padding-bottom: 10rem;
    margin: 0% 10%;
    padding: 2%; }
  .main__galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .main__galeria img {
      width: auto;
      height: auto;
      border-radius: 2rem;
      margin: 1rem 2rem; }
  .main__servicios {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 3rem;
    row-gap: 2rem;
    align-items: center;
    margin: 0% 10%;
    padding: 2%;
    grid-template-areas: "imagen1 desc1" "desc2 imagen2" "imagen3 desc3"; }
    .main__servicios img {
      width: 100%;
      height: auto;
      border-radius: 20px; }
    .main__servicios__desc1 {
      grid-area: desc1; }
    .main__servicios__imagen1 {
      grid-area: imagen1; }
    .main__servicios__desc2 {
      grid-area: desc2; }
    .main__servicios__imagen2 {
      grid-area: imagen2; }
    .main__servicios__desc3 {
      grid-area: desc3; }
    .main__servicios__imagen3 {
      grid-area: imagen3; }
  .main__barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black; }
    .main__barra p {
      color: #ffffff;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      font-style: normal; }
    .main__barra img {
      width: 150px;
      height: auto;
      border-radius: none;
      margin: 1rem; }
    .main__barra__columnas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; }

/*Estilos del footer*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #000000;
  font-family: black;
  font-size: 2rem;
  font-style: normal;
  background-color: #5a5454e3;
  align-items: center; }
  .footer__datos, .footer__datos__iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer__datos__iconos {
      margin: 10px 40px;
      flex-direction: column;
      align-items: center; }
  .footer__redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
    .footer__redes img {
      padding: 5px;
      margin: 5px; }
  .footer img {
    width: 50px;
    height: auto;
    border-radius: 0px; }

/*Variables*/
/*tamaño de fuentes*/
/*Colores de la pagina*/
/*Fuentes*/
/*Color de fuente*/
/*variables sombras*/
/*Gadiente*/
/*Responisve*/
@media screen and (max-width: 1024px) {
  .main__barra img {
    width: 150px; } }

@media screen and (max-width: 768px) {
  .header {
    background-color: #000000;
    display: flex;
    flex-direction: column; }
    .header__logo img {
      display: flex; }
    .header__user {
      display: none; }
    .header__nav {
      background-color: transparent;
      margin-top: 2rem; }
      .header__nav__btn-menu {
        font-size: 2rem; }
      .header__nav__a {
        font-size: 1rem; }
      .header__nav__a--active, .header__nav__a--active:hover {
        font-size: 3rem;
        margin: 2px;
        padding: 0px; }
  .main__servicios {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 6;
    column-gap: 2rem;
    row-gap: 0rem;
    align-items: center; }
  .main__barra__columnas {
    flex-direction: column;
    width: 49.99999%;
    margin: 10px 0px;
    justify-content: center; }
    .main__barra__columnas img {
      width: 70%; }
  .main__galeria img {
    width: 70%; } }

@media screen and (max-width: 480px) {
  .header__nombre h1 {
    font-size: 5rem; }
  .header__nombre h2 {
    font-size: 4rem;
    margin-top: 0.5rem; }
  .main__servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  .main__barra {
    flex-direction: column;
    align-content: center; }
  .img {
    width: 90%; }
  .footer__datos, .footer__datos__iconos {
    flex-direction: column; }
  .footer__datos__iconos {
    margin: 10px 0px; } }

@media screen and (max-width: 320px) {
  .header__nombre h1 {
    font-size: 4rem; }
  .header__nombre h2 {
    font-size: 3rem;
    margin-top: 0.5rem; }
  h3 {
    font-size: 3rem; }
  .main__servicios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  p {
    font-size: 1.5rem; }
  .img {
    width: 80%; }
  .footer p {
    font-size: 1rem;
    flex-direction: column; } }
