@import "./variables";
/*Estilos Generales*/
html{
    font-size: 62.5%; /*tamaño de fuente 1rem=10px*/
}
body{
    text-align: center;
}
.separador{
    width: 50%;
    height: 1rem;
    background-color: fuchsia;
    margin: 2rem 0rem;
}
