@import "./mixin";
/*Estilos del Header*/
.header {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;    
    background-color: $color-1;
    align-items: center;
    &__logo {
        grid-area: 1/1/2/2;
        & img{
            width: 85px;
        }
    }
    &__nombre {
        & h1{
        @include prop_nombre($font-color-h1, $font-h1, $size-h1, normal);        
        text-shadow: $sombra-h1;
        }
        & h2{
        @include prop_nombre($font-color-h2, $font-h2, $size-h2,italic);
        margin-top: -20px;
        line-height: 0.8rem;
        text-shadow: $sombra-h2;
    }
    }
    &__user{
        display: flex;
        justify-content: space-around;
        & img{
            width: 65px;
            border:none;
        }
        & button {
            border: none;
            background: none;
        }
    }
    &__nav{
        grid-area: 2/1/3/4;
        background-color: black;
        color: white;
        border-radius: 100px 0px 100px 0px;
        align-items: center;        
        &__li{            
            margin: 0px 20px;
        }
        &__a{
            @include prop_nombre($font-color-h2, $font-h3, $size-p, normal);
            &:hover{
                @include prop_nombre($font-color-h2, $font-h2, $size-h2,italic);
                margin-top: -15px;
                line-height: 0.8rem;
                text-shadow: $sombra-h2;                
                color: #00ebff;                
                transition: all 1s;
            }
        }
        &__a--active{            
            @include prop_nombre($font-color-h2, $font-h2, $size-h2,italic);
                margin: -30px;                
                text-shadow: $sombra-h2;  
                color: #00ebff;
                &:hover{
                    @extend .header__nav__a--active;
                }
        }
    }
}
