/*Estilos Main*/
.main{
    background-color: #e5e5f7;    
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    padding-bottom: 10px;
    & h3{
        @include prop_text($font-color-h3, $font-color-h3, $size-h3, italic)
    }
    & p{
        @include prop_text ($font-color-p, $font-p, $size-p, normal);
        font-weight: normal;
    }
    & h4{
        @include prop_text ($font-color-h4, $font-h4, $size-h4, normal);
        text-decoration: underline;
    }
    &__presentacion{
        padding-bottom: 10rem;
        margin: $m-main;
        padding: $p-main;
    }
    &__galeria{
        @include flex(flex,wrap,center);
        & img{
            border-radius: 20px;
            margin: 5px;
            width: 80%;
        }        
    }
    &__carrusel{
        &__container{        
            display: none;
        }            
        &__descripcion h5{
            color: black;
            font-size: $size-h3;
            background-color: rgba(128, 128, 128, 0.51);
            font-family: $font-h3
            
        }
    }
    
    &__servicios{
        @include grid(grid, repeat(2, auto), repeat(3,auto), 3rem, 2rem, center);
        margin: $m-main;
        padding: $p-main;
        grid-template-areas:
        "imagen1 desc1"
        "desc2 imagen2"
        "imagen3 desc3";
        & img{
            @include prop_img(100%, auto, 20px)
        }
        &__desc1{
            grid-area: desc1;
        }
        &__imagen1{
            grid-area: imagen1;
        }
        &__desc2{
            grid-area: desc2;
        }
        &__imagen2{
            grid-area: imagen2;
        }
        &__desc3{
            grid-area: desc3;
        }
        &__imagen3{
            grid-area: imagen3;
        }
    }
    &__barra{
        @include flex(flex, wrap, space-around);
        background-color: black;
        &  p{
            @include prop_text ($font-color-h2, $font-p, $size-p, normal);            
        }
        & img {
            @include prop_img(150px, auto, none);
            margin: 1rem;
        }
        &__columnas{
            @include flex(flex, nowrap, center);
            align-items: center;            
        }
    }
}
